video_data/
label_studio/data/
tao/apps/sample/results/isbi_experiment/train/
tao/apps/sample/results/isbi_experiment/inference/
tao/apps/sample/results/isbi_experiment/evaluate/
tao/apps/sample/data/
deepstream/apps/tao-apps/
deepstream/**/*.engine
deepstream/**/*.onnx
deepstream/**/*.onxx
deepstream/**/*.mp4
deepstream/**/*.bin
deepstream/**/*.onnx_b1_gpu0_fp16.engine
tao/**/*.onnx
tao/**/*.pth
**/.venv/
**/venv/
**/env/
**/.env/
**/__pycache__/
**/*.pyc
